body{

font-family:Arial;
background:#f5f5f5;
text-align:center;

}

header{

display:flex;
justify-content:space-between;
padding:10px;

}

nav button{

padding:10px 20px;
margin:5px;
border-radius:20px;
border:none;
background:#4CAF50;
color:white;
cursor:pointer;

}

.cards{

display:flex;
justify-content:center;
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
width:150px;

}

#reader{

width:300px;
margin:auto;

}

#inventoryList{

margin-top:20px;

}

.product{

background:white;
margin:10px;
padding:10px;
border-radius:8px;

}
